.BoardList {
    display: inline-block;
    min-width: 30em;
    width: 50%;
}

.BoardList__boards {
    margin: 0 auto;
    text-align: left;
}

.BoardListItem__property {
    padding: 0.3em 1em 0.3em 0;
}

.BoardListItem__latestPost__subject {
    color: #0F0C5D;
    font-weight: bold;
}

.BoardListItem__latestPost__message {
    font-style: italic;
}